/**
 * COLORS
 */

$co-primary: hsla(14, 52%, 48%, 1); // CTA. active states, main headlines
$co-primary-dark: hsla(13, 52%, 38%, 1); // pressed buttons, darker accents
$co-accent-color: hsla(16, 50%, 56%, 1); // decorative strokes, icons

$co-white: hsla(35, 55%, 91%, 1); // background page
$co-sand: hsla(34, 100%, 97%, 1); // cards, input fields
$co-dirt: hsla(31, 41%, 82%, 1); // input borders, dividers, outlines

$co-espresso: hsla(18, 27%, 19%, 1); // primary texts
$co-mud: hsla(25, 15%, 47%, 1); // secondary texts
